name: Build Windows MSI
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PySide6 cx_Freeze

      - name: Build MSI Installer
        run: |
          python setup.py bdist_msi

      - name: Upload MSI
        uses: actions/upload-artifact@v4
        with:
          name: bplist-viewer-installer
